- is_remote ||= false
- remote = is_remote ? true : false

= form_for task , remote: is_remote do |f|
  .row
    .col-md-8
      .form-group
        -if current_page?(root_path)
          %h4 Add a new Task
        -else
          %h4 Task name

        = f.text_field :title, class: 'form-control js-add-task', placeholder: 'Add new task', :autofocus=>true
        - if task.errors[:title].length > 0
          %small.error Title #{task.errors[:title][0]}
    .col-md-4
      .form-group
        %h4 Due date
        = f.text_field :due_date, class: 'form-control', placeholder: 'Due date (yyyy/mm/dd)', 'data-provide': 'datepicker', "data-date-format": "yyyy/mm/dd/"
  .row
    .col-md-12
      .form-group
        -if current_page?(root_path)
          = f.submit 'Add task', class: 'btn  btn-success'
        -else
          = f.submit 'Save', class: 'btn  btn-success'
