.task.media{:id => "task-#{task.id}", :class => "#{task.task_overdue?}"  }
  .complete-task.media-left
    = link_to "", task, method: :delete, remote: true, class:'glyphicon glyphicon-ok'
    -if !current_page?(archived_path)
      %br/
      = link_to "", [:archive, task], method: :put, remote: true, class:'glyphicon glyphicon-folder-open'
  .task-title.media-body

    = form_for task, url_for: {action: 'update', controller: 'tasks'}, method: 'put', class: 'form-inline', remote: true do |f|
      = f.text_field :title, class: 'form-control  edit-title'
      = f.submit 'Save', class: 'btn  btn-success'

    = link_to task.title, edit_task_path(task), id: "task-edit-#{task.id}", class:'task-link'
    .clear
    .days-left
      Days left:
      = task.days_left
    - if task.due_date
      .due-date
        Due date:
        %span= task.due_date
    .clear