.task{:id => "task-#{task.id}" }
  .task-title
    = link_to "", task, method: :delete, remote: true, class:'glyphicon glyphicon-ok', data: {confirm: 'Are you sure?'}
    = link_to task.title, task
  .days-left
    Days left:
    = task.days_left
  - if task.due_date
    .due-date
      Due date:
      = task.due_date
  .clear